{
  "openapi": "3.0.1",
  "info": {
    "title": "Sensor Insights API Endpoints",
    "description": "API endpoints for Sensor Insight acounts to monitor and manage devices, health of devices and their network, gateways, alerts,  rules and users.",
    "license": {
      "name": "Verizon Terms of Service",
      "url": "http://www.verizon.com/about/terms/"
    },
    "version": "1.0",
    "x-server-configuration": {
      "default-environment": "Production",
      "default-server": "Thingspace",
      "environments": [
        {
          "name": "Production",
          "servers": [
            {
              "name": "OAuth Server",
              "url": "https://thingspace.verizon.com/api/ts/v1"
            },
            {
              "name": "Thingspace",
              "url": "https://thingspace.verizon.com/api"
            }
          ]
        },
        {
          "name": "Staging",
          "servers": [
            {
              "name": "OAuth Server",
              "url": "https://staging.thingspace.verizon.com/api/ts/v1"
            },
            {
              "name": "Thingspace",
              "url": "https://staging.thingspace.verizon.com/api"
            }
          ]
        }
      ]
    }
  },
  "servers": [
    {
      "url": "https://thingspace.verizon.com/api",
      "description": "Production server."
    },
    {
      "url": "https://staging.thingspace.verizon.com/api",
      "description": "Staging server."
    }
  ],
  "tags": [
    {
      "name": "Sensor Insights Sensors",
      "description": "Sensor tasks and information"
    },
    {
      "name": "Sensor Insights Devices",
      "description": "Device tasks and information"
    },
    {
      "name": "Sensor Insights Gateways",
      "description": "Query gateway information"
    },
    {
      "name": "Sensor Insights Smart Alerts",
      "description": "Rules based alerts"
    },
    {
      "name": "Sensor Insights Rules",
      "description": "Create and manage rules"
    },
    {
      "name": "Sensor Insights Health Score",
      "description": "Monitor the health of devices and the network"
    },
    {
      "name": "Sensor Insights Notification Groups",
      "description": "Create and manage groups to recieve notifications and alerts"
    },
    {
      "name": "Sensor Insights Users",
      "description": "Create user accounts and manage user roles and permissions"
    }
  ],
  "security": [
    {
      "thingspace_oauth": [],
      "vz-m2m-session_token": []
    }
  ],
  "paths": {
    "/dm/v1/devices/sensors/actions/query": {
      "post": {
        "summary": "Query sensors on an account",
        "tags": [
          "Sensor Insights Sensors"
        ],
        "operationId": "SensorInsightsListSensorDevicesRequest",
        "requestBody": {
          "description": "List details of the sensors",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dto.ListSensorDevicesRequest"
              },
              "example": {
                "accountname": "0000123456-00001",
                "filter": {
                  "$expand": "device detail(s)",
                  "$limitnumber": 100,
                  "$nopagination": true,
                  "$page": "The number of pages",
                  "$pagenumber": 1,
                  "$projection": [
                    "specific device fields requested"
                  ],
                  "$selection": {
                    "additionalProp1": "string",
                    "additionalProp2": "string",
                    "additionalProp3": "string"
                  }
                },
                "resourceidentifier": {
                  "deveui": "The unique EUI64 address of the device",
                  "deviceid": "The UUID of the device",
                  "esn": 223372036854775800,
                  "iccid": "The 20-digit Integrated Circuit Card ID (SIM card ID)",
                  "imei": 223372036854775,
                  "imsi": 223372036854775800,
                  "mac": "The Media Access Control address of the device, listed on the device in the format XX-XX-XX-XX-XX-XX or XX:XX:XX:XX:XX:XX",
                  "manufacturer": "REOLINK",
                  "meid": "The 56-bit Mobile Equipment ID",
                  "msisdn": "The Mobile Station International Subscriber Directory Number. In the USA, this is 1+ a 10-digit phone number",
                  "node_uuid": "The UUID of the node the device is associated with",
                  "qrcode": "The Quick Response (QR) code",
                  "serial": "The device's serial number"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/resource.Device"
                  },
                  "maxItems": 100
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400.management.Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "UnAuthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403.management.Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.management.Error"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unsupported media type"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Too many requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500.management.Error"
                }
              }
            },
            "description": "Internal server error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        }
      }
    },
    "/dm/v1/devices/actions/query": {
      "post": {
        "summary": "List all device details on the account",
        "tags": [
          "Sensor Insights Devices"
        ],
        "operationId": "SensorInsightsListDevicesRequest",
        "requestBody": {
          "description": "List all device details on an account",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dto.ListDevicesRequest"
              },
              "example": {
                "accountname": "0000123456-00001",
                "filter": {
                  "$expand": "device detail(s)",
                  "$limitnumber": 100,
                  "$nopagination": true,
                  "$page": "The number of pages",
                  "$pagenumber": 100,
                  "$projection": [
                    "specific device fields requested"
                  ],
                  "$selection": {
                    "additionalProp1": "string",
                    "additionalProp2": "string",
                    "additionalProp3": "string"
                  }
                },
                "resourceidentifier": {
                  "deveui": "The unique EUI64 address of the device",
                  "deviceid": "The UUID of the device",
                  "esn": 223372036854775800,
                  "iccid": "The 20-digit Integrated Circuit Card ID (SIM card ID)",
                  "imei": 223372036854775,
                  "imsi": 223372036854775800,
                  "mac": "The Media Access Control address of the device, listed on the device in the format XX-XX-XX-XX-XX-XX or XX:XX:XX:XX:XX:XX",
                  "manufacturer": "REOLINK",
                  "meid": "The 56-bit Mobile Equipment ID",
                  "msisdn": "The Mobile Station International Subscriber Directory Number. In the USA, this is 1+ a 10-digit phone number",
                  "node_uuid": "The UUID of the node the device is associated with",
                  "qrcode": "The Quick Response (QR) code",
                  "serial": "The device's serial number"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/dto.ExpandedDeviceResponse"
                  },
                  "maxItems": 100
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "UnAuthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unsupported media type"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Too many requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Internal server error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        }
      }
    },
    "/dm/v1/devices/sensors/onboard": {
      "post": {
        "summary": "OnBoard a sensor",
        "tags": [
          "Sensor Insights Sensors"
        ],
        "operationId": "SensorInsightsOnBoardSensorRequest",
        "requestBody": {
          "description": "Onboarding a sensor",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dto.OnBoardSensorRequest"
              },
              "example": {
                "accountname": "0000123456-00001",
                "payload": {
                  "addsensor": {
                    "deveui": "The unique EUI64 address of the device",
                    "appeui": "global application ID in IEEE EUI64 address space that uniquely identifies the entity able to process the JoinReq frame",
                    "appkey": "Encryption key used for messages during every over the air activation",
                    "class": "A",
                    "kind": "ts.device.sensor.lorawan.radiobridge.RBS301-DWS-US",
                    "customdata": {
                      "additionalProp1": [
                        100
                      ],
                      "additionalProp2": [
                        100
                      ],
                      "additionalProp3": [
                        100
                      ]
                    }
                  },
                  "description": "used to identify water leaks",
                  "name": "Water Leak sensor"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400.management.Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "UnAuthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403.management.Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unsupported media type"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Too many requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500.management.Error"
                }
              }
            },
            "description": "Internal server error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        }
      }
    },
    "/dm/v1/devices/sensors/onboard/status/actions/query": {
      "post": {
        "summary": "Get a sensor's onboarding status",
        "tags": [
          "Sensor Insights Sensors"
        ],
        "operationId": "SensorInsightsSensorOnBoardStatusRequest",
        "requestBody": {
          "description": "Get the sensor's onboarding status",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dto.SensorOnBoardStatusRequest"
              },
              "example": {
                "accountname": "0000123456-00001",
                "gatewayidentifier": {
                  "deviceid": "00000000-0000-0000-0000-000000000255"
                },
                "onboarding": {
                  "sensoridentifiers": {
                    "deveui": "The unique EUI64 address of the device"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto.SensorOnBoardingStatusResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400.management.Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "UnAuthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403.management.Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.management.Error"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unsupported media type"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Too many requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500.management.Error"
                }
              }
            },
            "description": "Internal server error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        }
      }
    },
    "/dm/v1/devices/sensors/offboard": {
      "post": {
        "summary": "OffBoard a sensor",
        "tags": [
          "Sensor Insights Sensors"
        ],
        "operationId": "SensorInsightsOffBoardSensorRequest",
        "requestBody": {
          "description": "Offboard a sensor",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dto.OffBoardSensorRequest"
              },
              "example": {
                "accountname": "0000123456-00001",
                "configuration": {
                  "removesensor": {
                    "deveui": "The unique EUI64 address of the device"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400.management.Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "UnAuthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403.management.Error"
                }
              }
            },
            "description": "Forbidden"
          }
        }
      }
    },
    "/dm/v1/devices/sensors/offboard/status/actions/query": {
      "post": {
        "summary": "Get a sensor's offboarding status",
        "tags": [
          "Sensor Insights Sensors"
        ],
        "operationId": "SensorInsightsSensorOffBoardingStatusRequest",
        "requestBody": {
          "description": "Get a sensor's offboarding status",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dto.SensorOffBoardStatusRequest"
              },
              "example": {
                "accountname": "0000123456-00001",
                "gatewayidentifier": {
                  "deviceid": "UUID of the Gateway device"
                },
                "offboarding": {
                  "sensoridentifiers": {
                    "deveui": "The unique EUI64 address of the device"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto.SensorOffBoardingStatusResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400.management.Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "UnAuthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403.management.Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.management.Error"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unsupported media type"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Too many requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500.management.Error"
                }
              }
            },
            "description": "Internal server error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        }
      }
    },
    "/dm/v1/devices/gateways/actions/query": {
      "post": {
        "summary": "Get gateway information",
        "tags": [
          "Sensor Insights Gateways"
        ],
        "operationId": "SensorInsightsListGatewayDevicesRequest",
        "requestBody": {
          "description": "Get gateway information",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dto.ListDevicesRequest"
              },
              "example": {
                "accountname": "0000123456-00001",
                "filter": {
                  "$expand": "device detail(s)",
                  "$limitnumber": 100,
                  "$nopagination": true,
                  "$page": "The number of pages",
                  "$pagenumber": 100,
                  "$projection": [
                    "specific device fields requested"
                  ],
                  "$selection": {
                    "additionalProp1": "string",
                    "additionalProp2": "string",
                    "additionalProp3": "string"
                  }
                },
                "resourceidentifier": {
                  "deveui": "The unique EUI64 address of the device",
                  "deviceid": "The UUID of the device",
                  "esn": 223372036854775800,
                  "iccid": "The 20-digit Integrated Circuit Card ID (SIM card ID)",
                  "imei": 223372036854775,
                  "imsi": 223372036854775800,
                  "mac": "The Media Access Control address of the device, listed on the device in the format XX-XX-XX-XX-XX-XX or XX:XX:XX:XX:XX:XX",
                  "manufacturer": "REOLINK",
                  "meid": "The 56-bit Mobile Equipment ID",
                  "msisdn": "The Mobile Station International Subscriber Directory Number. In the USA, this is 1+ a 10-digit phone number",
                  "node_uuid": "The UUID of the node the device is associated with",
                  "qrcode": "The Quick Response (QR) code",
                  "serial": "The device's serial number"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/resource.Device"
                  },
                  "maxItems": 100
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400.management.Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "UnAuthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403.management.Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.management.Error"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unsupported media type"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Too many requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500.management.Error"
                }
              }
            },
            "description": "Internal server error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        }
      }
    },
    "/dm/v1/devices": {
      "patch": {
        "summary": "Partially update a device",
        "tags": [
          "Sensor Insights Devices"
        ],
        "operationId": "SensorInsightsPatchDeviceRequest",
        "requestBody": {
          "description": "Partially update a device's details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dto.PatchDeviceRequest"
              },
              "example": {
                "accountname": "0000123456-00001",
                "device": {
                  "accountclientid": "null",
                  "billingaccountid": "0000123456-00001",
                  "chipset": "The chipset used by the device",
                  "createdon": "2023-10-02T15:46:34.562Z",
                  "customdata": {
                    "additionalProp1": [
                      100
                    ],
                    "additionalProp2": [
                      100
                    ],
                    "additionalProp3": [
                      100
                    ]
                  },
                  "description": "a short description",
                  "esn": 223372036854775800,
                  "eventretention": 90,
                  "fields": {
                    "additionalProp1": "string",
                    "additionalProp2": "string",
                    "additionalProp3": "string"
                  },
                  "foreignid": "c1f178d3-eeee-ffff-gggg-0d6b7ae6022a",
                  "hardwareversion": "1.0",
                  "iccid": "The 20-digit Integrated Circuit Card ID (SIM card ID)",
                  "id": "33e21f61-a44a-44c9-b7a0-a63f5d19bd4f",
                  "imei": 223372036854775,
                  "imsi": 223372036854775800,
                  "lastupdated": "2023-10-02T15:46:34.562Z",
                  "licenses": [
                    "licenses assigned to the device"
                  ],
                  "mac": "The Media Access Control address of the device, listed on the device in the format XX-XX-XX-XX-XX-XX or XX:XX:XX:XX:XX:XX",
                  "manufacturer": "REOLINK",
                  "meid": "The 56-bit Mobile Equipment ID",
                  "msisdn": "The Mobile Station International Subscriber Directory Number. In the USA, this is 1+ a 10-digit phone number",
                  "name": "User defined name of the record",
                  "parentdeviceid": "BLE device ID",
                  "productmodel": "Model name of the device",
                  "providerid": "Verizon Wireless",
                  "qrcode": "The Quick Response (QR) code",
                  "refid": "P3730-1422323050860",
                  "refidtype": "The type of value represented by `refid`",
                  "serial": "The device's serial number",
                  "services": [
                    "configuration"
                  ],
                  "sku": "The Stock Keeping Unit (SKU) number",
                  "softwareversion": "the current device software version",
                  "state": "success",
                  "version": "1.0",
                  "versionid": "337bd2e8-eeee-ffff-gggg-5207992fd395"
                },
                "resourceidentifier": {
                  "deveui": "The unique EUI64 address of the device",
                  "deviceid": "The UUID of the device",
                  "esn": 223372036854775800,
                  "iccid": "The 20-digit Integrated Circuit Card ID (SIM card ID)",
                  "imei": 223372036854775,
                  "imsi": 223372036854775800,
                  "mac": "The Media Access Control address of the device, listed on the device in the format XX-XX-XX-XX-XX-XX or XX:XX:XX:XX:XX:XX",
                  "manufacturer": "REOLINK",
                  "meid": "The 56-bit Mobile Equipment ID",
                  "msisdn": "The Mobile Station International Subscriber Directory Number. In the USA, this is 1+ a 10-digit phone number",
                  "node_uuid": "The UUID of the node the device is associated with",
                  "qrcode": "The Quick Response (QR) code",
                  "serial": "The device's serial number"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resource.Device"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400.management.Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "UnAuthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403.management.Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.management.Error"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unsupported media type"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Too many requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500.management.Error"
                }
              }
            },
            "description": "Internal server error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        }
      }
    },
    "/dm/v1/devices/lastreported": {
      "post": {
        "summary": "Get last reported information for a device",
        "tags": [
          "Sensor Insights Devices"
        ],
        "operationId": "SensorInsightsLastReportedTimeRequest",
        "requestBody": {
          "description": "Get the last reported information for a device",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dto.LastReportedTimeRequest"
              },
              "example": {
                "accountname": "0000123456-00001",
                "resourceidentifier": {
                  "deveui": "The unique EUI64 address of the device",
                  "deviceid": "The UUID of the device",
                  "esn": 223372036854775800,
                  "iccid": "The 20-digit Integrated Circuit Card ID (SIM card ID)",
                  "imei": 223372036854775,
                  "imsi": 223372036854775800,
                  "mac": "The Media Access Control address of the device, listed on the device in the format XX-XX-XX-XX-XX-XX or XX:XX:XX:XX:XX:XX",
                  "manufacturer": "REOLINK",
                  "meid": "The 56-bit Mobile Equipment ID",
                  "msisdn": "The Mobile Station International Subscriber Directory Number. In the USA, this is 1+ a 10-digit phone number",
                  "node_uuid": "The UUID of the node the device is associated with",
                  "qrcode": "The Quick Response (QR) code",
                  "serial": "The device's serial number"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto.LastReportedTimeResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400.management.Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403.management.Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.management.Error"
                }
              }
            },
            "description": "Not Found"
          }
        }
      }
    },
    "/dm/v1/devices/actions/set": {
      "post": {
        "summary": "Set device configuration",
        "tags": [
          "Sensor Insights Devices"
        ],
        "operationId": "SensorInsightsDeviceActionSetRequest",
        "requestBody": {
          "description": "Set device configuration",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dto.DeviceActionSetRequest"
              },
              "example": {
                "accountname": "0000123456-00001",
                "configuration": {
                  "deviceConfig": {
                    "ble": {
                      "dataMode": 1,
                      "manufacturerId": 13200,
                      "maxNumScan": 100,
                      "minSigStr": -115,
                      "monitorPeriod": 300,
                      "moreManufId": [
                        {}
                      ],
                      "opMode": 1,
                      "reportOffset": 0,
                      "reportPeriod": 300,
                      "reportType": 2,
                      "scanDuration": 20
                    }
                  }
                },
                "resourceidentifier": {
                  "deveui": "The unique EUI64 address of the device",
                  "deviceid": "The UUID of the device",
                  "esn": 223372036854775800,
                  "iccid": "The 20-digit Integrated Circuit Card ID (SIM card ID)",
                  "imei": 223372036854775,
                  "imsi": 223372036854775800,
                  "mac": "The Media Access Control address of the device, listed on the device in the format XX-XX-XX-XX-XX-XX or XX:XX:XX:XX:XX:XX",
                  "manufacturer": "REOLINK",
                  "meid": "The 56-bit Mobile Equipment ID",
                  "msisdn": "The Mobile Station International Subscriber Directory Number. In the USA, this is 1+ a 10-digit phone number",
                  "node_uuid": "The UUID of the node the device is associated with",
                  "qrcode": "The Quick Response (QR) code",
                  "serial": "The device's serial number"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto.DeviceActionSetResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400.management.Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403.management.Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.management.Error"
                }
              }
            },
            "description": "Not Found"
          }
        }
      }
    },
    "/dm/v1/smartAlerts/actions/query": {
      "post": {
        "summary": "Retrieve a smart alert",
        "tags": [
          "Sensor Insights Smart Alerts"
        ],
        "operationId": "SensorInsightsListSmartAlertsRequest",
        "requestBody": {
          "description": "Retrieve a smart alert",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dto.ListSmartAlertsRequest"
              },
              "example": {
                "accountname": "0000123456-00001",
                "filter": {
                  "$expand": "device detail(s)",
                  "$limitnumber": 100,
                  "$nopagination": true,
                  "$page": "The number of pages",
                  "$pagenumber": 100,
                  "$projection": [
                    "specific device fields requested"
                  ],
                  "$selection": {
                    "additionalProp1": "string",
                    "additionalProp2": "string",
                    "additionalProp3": "string"
                  }
                },
                "resourceidentifier": {
                  "id": "cb3eea68-eeee-ffff-gggg-ac4463ccd073"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/user.SmartAlert"
                  },
                  "maxItems": 100
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400.management.Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "UnAuthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403.management.Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.management.Error"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unsupported media type"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Too many requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500.management.Error"
                }
              }
            },
            "description": "Internal server error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        }
      }
    },
    "/dm/v1/smartAlerts": {
      "patch": {
        "summary": "Partially update a smart alert",
        "tags": [
          "Sensor Insights Smart Alerts"
        ],
        "operationId": "SensorInsightsPatchSmartAlertRequest",
        "requestBody": {
          "description": "Partially update a smart alert",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dto.PatchSmartAlertRequest"
              },
              "example": {
                "accountname": "0000123456-00001",
                "resourceidentifier": {
                  "id": "0b37ab8b-eeee-ffff-gggg-e0149af43f43"
                },
                "smartalert": {
                  "accountclientid": "null",
                  "billingaccountid": "0000123456-00001",
                  "category": "telemetry",
                  "condition": "2592000",
                  "createdon": "2023-10-02T15:46:34.562Z",
                  "description": "a short description",
                  "deviceid": "The UUID of the device",
                  "foreignid": "c1f178d3-eeee-ffff-gggg-0d6b7ae6022a",
                  "id": "fecbe450-eeee-ffff-gggg-aa166fd5f8e3",
                  "isacknowledged": true,
                  "iscleared": true,
                  "isdisabled": false,
                  "lastupdated": "2023-10-02T15:46:34.562Z",
                  "name": "User defined name of the record",
                  "ruleid": "The UUID of a rule",
                  "severity": "minor",
                  "state": "success",
                  "template": "The template ID",
                  "version": "1.0",
                  "versionid": "337bd2e8-eeee-ffff-gggg-5207992fd395"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.SmartAlert"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400.management.Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "UnAuthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403.management.Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.management.Error"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unsupported media type"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Too many requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500.management.Error"
                }
              }
            },
            "description": "Internal server error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        }
      }
    },
    "/dm/v1/smartAlerts/actions/bulkupdate": {
      "post": {
        "summary": "Bulk update smart alerts",
        "tags": [
          "Sensor Insights Smart Alerts"
        ],
        "operationId": "SensorInsightsBulkUpdate",
        "requestBody": {
          "description": "Bulk update smart alerts",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dto.BulkUpdate"
              },
              "example": {
                "accountname": "0000123456-00001",
                "resourceidentifiers": [
                  {
                    "id": "ee70a869-eeee-ffff-gggg-07c14c31f96e"
                  },
                  {
                    "deviceid": "The UUID of the device"
                  }
                ],
                "smartalert": {
                  "name": "User defined name of the record"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.SmartAlert"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400.management.Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "UnAuthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403.management.Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.management.Error"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unsupported media type"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Too many requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500.management.Error"
                }
              }
            },
            "description": "Internal server error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        }
      }
    },
    "/dm/v1/rules": {
      "post": {
        "summary": "Overwrite a rule",
        "tags": [
          "Sensor Insights Rules"
        ],
        "operationId": "SensorInsightsOverwriteRuleRequest",
        "requestBody": {
          "description": "Overwrite a rule",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dto.OverwriteRuleRequest"
              },
              "example": {
                "accountname": "0000123456-00001",
                "resourceidentifier": {
                  "id": "7f5f610a-eeee-ffff-gggg-4d20cf3dcfbc"
                },
                "rule": {
                  "accountclientid": "null",
                  "billingaccountid": "The billing account ID",
                  "createdon": "2023-10-02T15:46:34.562Z",
                  "description": "a short description",
                  "deviceid": "The UUID of the device",
                  "disabled": true,
                  "foreignid": "c1f178d3-eeee-ffff-gggg-0d6b7ae6022a",
                  "id": "bc5b5b5a-eeee-ffff-gggg-cb2cb2533d47",
                  "lastupdated": "2023-10-02T15:46:34.562Z",
                  "name": "User defined name of the record",
                  "rulechain": {},
                  "rulesyntax": "The rule syntax",
                  "version": "1.0",
                  "versionid": "337bd2e8-eeee-ffff-gggg-5207992fd395"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resource.Rule"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400.management.Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "UnAuthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403.management.Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.management.Error"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unsupported media type"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Too many requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500.management.Error"
                }
              }
            },
            "description": "Internal server error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        }
      }
    },
    "/dm/v1/rules/actions/query": {
      "post": {
        "summary": "Retrieve a rule",
        "tags": [
          "Sensor Insights Rules"
        ],
        "operationId": "SensorInsightsListRulesRequest",
        "requestBody": {
          "description": "Retrieve a rule",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dto.ListRulesRequest"
              },
              "example": {
                "accountname": "0000123456-00001",
                "filter": {
                  "$expand": "device detail(s)",
                  "$limitnumber": 100,
                  "$nopagination": true,
                  "$page": "The number of pages",
                  "$pagenumber": 100,
                  "$projection": [
                    "specific device fields requested"
                  ],
                  "$selection": {
                    "additionalProp1": "string",
                    "additionalProp2": "string",
                    "additionalProp3": "string"
                  }
                },
                "resourceidentifier": {
                  "id": "ffb86390-eeee-ffff-gggg-9d1180882d63"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/resource.Rule"
                  },
                  "maxItems": 100
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400.management.Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "UnAuthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403.management.Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.management.Error"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unsupported media type"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Too many requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500.management.Error"
                }
              }
            },
            "description": "Internal server error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        }
      }
    },
    "/dm/v1/healthscore/summary": {
      "post": {
        "summary": "Get health score summary",
        "tags": [
          "Sensor Insights Health Score"
        ],
        "operationId": "SensorInsightsHealthScoreSummary",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto.HealthScoreSummary"
                }
              }
            },
            "description": "Get health score summary"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400.management.Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "UnAuthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403.management.Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unsupported media type"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Too many requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500.management.Error"
                }
              }
            },
            "description": "Internal server error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        }
      }
    },
    "/dm/v1/healthscore/network": {
      "post": {
        "summary": "Get a network health score",
        "tags": [
          "Sensor Insights Health Score"
        ],
        "operationId": "SensorInsightsGetNetworkHealthScoreResponse",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto.GetNetworkHealthScoreResponse"
                }
              }
            },
            "description": "Get a network health score"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400.management.Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "UnAuthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403.management.Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unsupported media type"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Too many requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500.management.Error"
                }
              }
            },
            "description": "Internal server error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        }
      }
    },
    "/dm/v1/devices/experience/actions/query": {
      "post": {
        "summary": "List the device experience",
        "tags": [
          "Sensor Insights Devices"
        ],
        "operationId": "SensorInsightsListDeviceExperienceHistoryRequest",
        "requestBody": {
          "description": "List the device experience",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dto.ListDeviceExperienceHistoryRequest"
              },
              "example": {
                "accountname": "0000123456-00001",
                "filter": {
                  "$expand": "device detail(s)",
                  "$limitnumber": 100,
                  "$nopagination": true,
                  "$page": "The number of pages",
                  "$pagenumber": 100,
                  "$projection": [
                    "specific device fields requested"
                  ],
                  "$selection": {
                    "additionalProp1": "string",
                    "additionalProp2": "string",
                    "additionalProp3": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/user.DeviceExperienceHistory"
                  },
                  "maxItems": 100
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400.management.Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "UnAuthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403.management.Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.management.Error"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unsupported media type"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Too many requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500.management.Error"
                }
              }
            },
            "description": "Internal server error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        }
      }
    },
    "/dm/v1/devices/networkexperience/actions/query": {
      "post": {
        "summary": "List the network experience",
        "tags": [
          "Sensor Insights Devices"
        ],
        "operationId": "SensorInsightsListNetworkExperienceHistoryRequest",
        "requestBody": {
          "description": "List the network experience",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dto.ListNetworkExperienceHistoryRequest"
              },
              "example": {
                "accountname": "0000123456-00001",
                "filter": {
                  "$expand": "device detail(s)",
                  "$limitnumber": 100,
                  "$nopagination": true,
                  "$page": "The number of pages",
                  "$pagenumber": 100,
                  "$projection": [
                    "specific device fields requested"
                  ],
                  "$selection": {
                    "additionalProp1": "string",
                    "additionalProp2": "string",
                    "additionalProp3": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/user.NetworkExperienceHistory"
                  },
                  "maxItems": 100
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400.management.Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "UnAuthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403.management.Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.management.Error"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unsupported media type"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Too many requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500.management.Error"
                }
              }
            },
            "description": "Internal server error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        }
      }
    },
    "/dm/v1/notificationGroups/actions/query": {
      "post": {
        "summary": "Retrieve a notification group",
        "tags": [
          "Sensor Insights Notification Groups"
        ],
        "operationId": "SensorInsightsListNotificationGroupRequest",
        "requestBody": {
          "description": "Retrieve a notification group",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dto.ListNotificationGroupRequest"
              },
              "example": {
                "accountname": "0000123456-00001",
                "filter": {
                  "$expand": "device detail(s)",
                  "$limitnumber": 100,
                  "$nopagination": true,
                  "$page": "The number of pages",
                  "$pagenumber": 100,
                  "$projection": [
                    "specific device fields requested"
                  ],
                  "$selection": {
                    "additionalProp1": "string",
                    "additionalProp2": "string",
                    "additionalProp3": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/dto.NotificationGroupResponseEntity"
                  },
                  "maxItems": 100
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400.management.Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "UnAuthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403.management.Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.management.Error"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unsupported media type"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Too many requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500.management.Error"
                }
              }
            },
            "description": "Internal server error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        }
      }
    },
    "/dm/v1/notificationGroups": {
      "patch": {
        "summary": "Partially update a notification group",
        "tags": [
          "Sensor Insights Notification Groups"
        ],
        "operationId": "SensorInsightsUpdateNotificationGroupRequest",
        "requestBody": {
          "description": "Partially update a notification group",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dto.UpdateNotificationGroupRequest"
              },
              "example": {
                "accountname": "0000123456-00001",
                "group": {
                  "description": "a short description",
                  "groupemail": "email@domain.com",
                  "name": "User defined name of the record"
                },
                "id": "7b0b9c53-eeee-ffff-gggg-bde5e44f4b12",
                "userids": [
                  "ee70a869-eeee-ffff-gggg-07c14c31f96e",
                  "131501ff-eeee-ffff-gggg-647d19179a12"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto.NotificationGroupResponseEntity"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400.management.Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "UnAuthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403.management.Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.management.Error"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unsupported media type"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Too many requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500.management.Error"
                }
              }
            },
            "description": "Internal server error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        }
      },
      "post": {
        "summary": "Create a notification group",
        "tags": [
          "Sensor Insights Notification Groups"
        ],
        "operationId": "SensorInsightsCreateNotificationGroupRequest",
        "requestBody": {
          "description": "Create a notification group",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dto.CreateNotificationGroupRequest"
              },
              "example": {
                "accountname": "0000123456-00001",
                "group": {
                  "description": "a short description",
                  "groupemail": "email@domain.com",
                  "name": "User defined name of the record"
                },
                "userids": [
                  "ee70a869-eeee-ffff-gggg-07c14c31f96e",
                  "131501ff-eeee-ffff-gggg-647d19179a12"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto.NotificationGroupResponseEntity"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400.management.Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "UnAuthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403.management.Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unsupported media type"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Too many requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500.management.Error"
                }
              }
            },
            "description": "Internal server error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        }
      },
      "delete": {
        "summary": "Delete a notification group",
        "tags": [
          "Sensor Insights Notification Groups"
        ],
        "operationId": "SensorInsightsDeleteNotificationGroup",
        "parameters": [
          {
            "in": "query",
            "name": "payload",
            "description": "Payload for the delete request.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/dto.DeleteNotificationGroupRequest"
            },
            "example": {
              "accountname": "0000123456-00001",
              "force": true,
              "id": "6737ca22-eeee-ffff-gggg-84c09f2ede8e"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400.management.Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "UnAuthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403.management.Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.management.Error"
                }
              }
            },
            "description": "Not Found"
          }
        }
      }
    },
    "/dm/v1/notificationGroups/actions/add-users": {
      "post": {
        "summary": "Add users to a notification group",
        "tags": [
          "Sensor Insights Notification Groups"
        ],
        "operationId": "SensorInsightsAddUsersToNotificationGroupRequest",
        "requestBody": {
          "description": "Add users to a notification group",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dto.AddUsersToNotificationGroupRequest"
              },
              "example": {
                "accountname": "0000123456-00001",
                "id": "45f1a56e-eeee-ffff-gggg-68cb994feb5f",
                "userids": [
                  "ee70a869-eeee-ffff-gggg-07c14c31f96e",
                  "131501ff-eeee-ffff-gggg-647d19179a12"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400.management.Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "UnAuthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403.management.Error"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.management.Error"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unsupported media type"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Too many requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500.management.Error"
                }
              }
            },
            "description": "Internal server error."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        }
      }
    },
    "/dm/v1/notificationGroups/actions/remove-users": {
      "post": {
        "summary": "Remove users from a notification group",
        "tags": [
          "Sensor Insights Notification Groups"
        ],
        "operationId": "SensorInsightsRemoveUsersFromNotificationGroupRequest",
        "requestBody": {
          "description": "Remove users from a notification group",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dto.RemoveUsersFromNotificationGroupRequest"
              },
              "example": {
                "accountname": "0000123456-00001",
                "id": "111538a8-eeee-ffff-gggg-3b72804403e8",
                "userids": [
                  "ee70a869-eeee-ffff-gggg-07c14c31f96e",
                  "131501ff-eeee-ffff-gggg-647d19179a12"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400.management.Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management.Error"
                }
              }
            },
            "description": "UnAuthorized"
          },
          "403": {
            "content": {
[...]
